{% load gravatar %}
{% if comments %}
  <ul class="media-list">
    {% for comment in comments %}
      <li class="media" id="comment-{{ comment.pk }}">
        <a class="pull-left" href="#">
          <img class="media-object" src="{% gravatar_url comment.commenter.email 64 %}">
        </a>
        <div class="media-body">
          <h4 class="media-heading">
            <a href="{% url 'offer:view' comment.offer.pk %}#comment-{{ comment.pk }}">
              {{ comment.commenter.username }}
            </a>
            <small>Commented on {{ comment.created_at }}</small>
          </h4>
          {{ comment.content }}
        </div>
      </li>
    {% endfor %}
  </ul>
{% else %}
No comments of this offer!
{% endif %}