{% load gravatar %}
{% load comment_helpers %}
{% if comments %}
  <ul class="media-list">
    {% for comment in comments %}
      <li class="media media-comment-main" id="comment-{{ comment.pk }}">
        <a class="pull-left" href="{% url 'profile' comment.commenter.username %}">
          <img height="64" class="media-object" src="{% gravatar_url comment.commenter.email 64 %}" width="64">
        </a>
        {% spaceless %}
        <div class="media-body">
          <h4 class="media-heading">
            {{ comment.commenter.username }}
            {% if comment.commenter.is_staff or comment.commenter.is_superuser %}

              <a
                      class="tooltipify text-danger"
                      href="{% url 'profile' comment.commenter.username %}" data-toggle="tooltip"
                      title="This user is an admin. Don't mess with them!"
                      style="text-decoration: none"
              >
                <span class="glyphicon glyphicon-flash"></span>
              </a>
            {% endif %}
            {% if comment.commenter.user_profile.is_provider %}
              <a
                      class="tooltipify text-success"
                      href="{{ comment.commenter.user_profile.provider.get_absolute_url }}" data-toggle="tooltip"
                      title="This user is a manager of the provider {{ comment.commenter.user_profile.provider.name }}."
                      style="text-decoration: none"
              >
                <span class="glyphicon glyphicon-ok"></span>
              </a>
            {% endif %}

            {% if request.user != comment.commenter and request.user.is_authenticated %}
              {% has_liked request comment as is_liked %}
              <span class="pull-right">
                {% include 'offers/comment_like_button.html' with is_liked=is_liked comment=comment %}
              </span>
            {% endif %}

            <br />
            <a href="{{ comment.offer.get_absolute_url }}#comment-{{ comment.pk }}">
              {% if is_profile %}
                <small>
                  Commented on {{ comment.created_at }} on the offer <em>{{ comment.offer.name }}</em>
                </small>
              {% else %}
                <small>Commented on {{ comment.created_at }}</small>

              {% endif %}
            </a>
            {% if not is_profile %}
              <a href="#new-comment" class="reply-link" onclick="setReply({{ comment.json_data }})">Reply</a>
            {% endif %}
          </h4>
          {% if comment.is_reply %}
            <div class="well">
              <h5>In reply to <a href="{{ comment.reply_to.offer.get_absolute_url }}#comment-{{ comment.reply_to.pk }}">{{ comment.reply_to.commenter.username }}'s comment</a>:</h5>
              {{ comment.reply_to.content | safe }}
            </div>
          {% endif %}
          {{ comment.content | safe }}
        </div>
        {% endspaceless %}
      </li>
    {% endfor %}
  </ul>
{% else %}
  {% if is_profile %}
    This user has not commented!
  {% else %}
    No comments of this offer!
  {% endif %}
{% endif %}