{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Home{% endblock %}

{% block page_title %}All offers{% endblock %}

{% block content %}
  {% for offer in offers %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ offer.name }} <small>{{ offer.provider.name }}</small></h3>
      </div>
      <div class="panel-body">
        {{ offer.content|truncatewords_html:100|safe }}
      </div>
      <ul class="list-group">
        <li class="list-group-item">{{ offer.plan_count }} Plans listed</li>
        <li class="list-group-item">
          Price range ${{ offer.min_cost|floatformat:2 }} - ${{ offer.max_cost|floatformat:2 }}
        </li>
      </ul>
    </div>
  {% endfor %}
  <ul class="pager">
    <li class="previous {% if not offers.has_next %}disabled{% endif %}">
      <a href="{% if offers.has_next %}{% url 'home_pagination' offers.next_page_number %}{% endif %}">&larr; Older</a>
    </li>
    <li class="next {% if not offers.has_previous %}disabled{% endif %}">
      <a href="{% if offers.has_previous %}{% url 'home_pagination' offers.previous_page_number %}{% endif %}">
        Newer &rarr;
      </a>
    </li>
  </ul>
{% endblock %}