{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Home{% endblock %}

{% block page_title %}All offers{% endblock %}

{% block content %}
  {% for offer in offers %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ offer.name }} <small>{{ offer.provider.name }}</small></h3>
      </div>
      <div class="panel-body">
        {{ offer.content|safe }}
      </div>
      <ul class="list-group">
        <li class="list-group-item">{{ offer.plan_count }} Plans listed</li>
        <li class="list-group-item">
          Price range ${{ offer.min_cost|floatformat:2 }} - ${{ offer.max_cost|floatformat:2 }}
        </li>
      </ul>
    </div>
  {% endfor %}
  <div class="pagination">
    <span class="step-links">
        {% if offers.has_previous %}
            <a href="?page={{ offers.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ offers.number }} of {{ offers.paginator.num_pages }}.
        </span>

        {% if offers.has_next %}
            <a href="?page={{ offers.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
  <ul class="pager">
    <li class="previous {% if not offers.has_next %}disabled{% endif %}"><a href="#">&larr; Older</a></li>
    <li class="next {% if not offers.has_previous %}disabled{% endif %}"><a href="#">Newer &rarr;</a></li>
  </ul>
{% endblock %}