{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load static %}

{% block title %}Home{% endblock %}

{% block page_title %}All offers{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'countdown/jquery.countdown.css' %}">
<link rel="stylesheet" href="{% static 'offers/markdown/css/markdown.css' %}">
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-12">
      <div class="next-offer-countdown">{{ next_offer_date | naturaltime }}</div>
    </div>
  </div>
  {% for offer in offers %}
    {% include 'offers/short_offer.html' with offer=offer %}
  {% endfor %}
  <ul class="pager">
  <li class="previous {% if not offers.has_next %}disabled{% endif %}">
    <a href="{% if offers.has_next %}{% url 'home_pagination' offers.next_page_number %}{% endif %}">&larr; Older</a>
  </li>
  <li class="next {% if not offers.has_previous %}disabled{% endif %}">
    <a href="{% if offers.has_previous %}{% url 'home_pagination' offers.previous_page_number %}{% endif %}">
      Newer &rarr;
    </a>
  </li>
</ul>
{% endblock %}

{% block extra_js %}
<script src="{% static 'countdown/jquery.countdown.min.js' %}"></script>
<script type="text/javascript">
  var next_offer_release = new Date("{{ next_offer_date | date:"c" }}");
  $(".next-offer-countdown").countdown({until: next_offer_release});
</script>
{% endblock %}
