{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Plan Finder{% endblock %}

{% block page_title %}
  Plan Finder
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-8" id="plan_list">
      <div class="text-center">
        <h2>Loading ...</h2>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="well">
        <h3>Filter Plan</h3>

        {# Country List #}
        <div class="form-group">
          <label for="countrySelect">Country</label>
          <select class="form-control" id="countrySelect">
            <option value="ALL">Any Country</option>
            {% for country in countries %}
            <option value="{{ country.0 }}">{{ country.0 }}</option>
            {% endfor %}
          </select>
        </div>

        {# Provider List #}
        <div class="form-group">
          <label for="providerSelect">Provider</label>
          <select class="form-control" id="providerSelect">
            <option value="ALL">Any Provider</option>
            {% for provider in providers %}
            <option value="{{ provider.pk }}">{{ provider.name }}</option>
            {% endfor %}
          </select>
        </div>

        {# Billing Time #}
        <div class="form-group">
          <label for="billingSelect">Billing Period</label>
          <select class="form-control" id="billingSelect">
            <option value="ALL">Any Billing Time</option>
            {% for billing_time in billing_times %}
            <option value="{{ billing_time.0 }}">{{ billing_time.1 }}</option>
            {% endfor %}
          </select>
        </div>

        {# Memory #}
        <div class="form-group">
          <label>Memory (MB)</label>
          <div class="row">
            <div class="col-sm-6">
              <input class="form-control" id="planMemMin" placeholder="Minimum mem">
            </div>
            <div class="col-sm-6">
              <input class="form-control" id="planMemMax" placeholder="Maximum mem">
            </div>
          </div>
        </div>

        {# HDD Space #}
        <div class="form-group">
          <label>HDD Space (GB)</label>
          <div class="row">
            <div class="col-sm-6">
              <input class="form-control" id="planHDDMin" placeholder="Minimum HDD">
            </div>
            <div class="col-sm-6">
              <input class="form-control" id="planHDDMax" placeholder="Maximum HDD">
            </div>
          </div>
        </div>

        {# Bandwidth #}
        <div class="form-group">
          <label>Bandwidth (GB)</label>
          <div class="row">
            <div class="col-sm-6">
              <input class="form-control" id="planBandMin" placeholder="Minimum Bandwidth">
            </div>
            <div class="col-sm-6">
              <input class="form-control" id="planBandMax" placeholder="Maximum Bandwidth">
            </div>
          </div>
        </div>

        {# IPV4 Space #}
        <div class="form-group">
          <label>IPv4 Addresses</label>
          <div class="row">
            <div class="col-sm-6">
              <input class="form-control" id="planIPv4Min" placeholder="Minimum IPv4">
            </div>
            <div class="col-sm-6">
              <input class="form-control" id="planIPv4Max" placeholder="Maximum IPv4">
            </div>
          </div>
        </div>

        {# IPV6 Space #}
        <div class="form-group">
          <label>IPv6 Addresses</label>
          <div class="row">
            <div class="col-sm-6">
              <input class="form-control" id="planIPv6Min" placeholder="Minimum IPv6">
            </div>
            <div class="col-sm-6">
              <input class="form-control" id="planIPv6Max" placeholder="Maximum IPv6">
            </div>
          </div>
        </div>

        {# Cost #}
        <div class="form-group">
          <label>Cost (USD)</label>
          <div class="row">
            <div class="col-sm-6">
              <input class="form-control" id="planCostMin" placeholder="Minimum cost">
            </div>
            <div class="col-sm-6">
              <input class="form-control" id="planCostMax" placeholder="Maximum cost">
            </div>
          </div>
        </div>

        <a onclick="filterPlans()" class="btn btn-success">Filter</a>

      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  function filterPlans(){
    var urlOptions = {};

    var country = $("#countrySelect");
    var provider = $("#providerSelect");
    var billing = $("#billingSelect");

    var memMin = $("#planMemMin");
    var memMax = $("#planMemMax");

    var hddMin = $("#planHDDMin");
    var hddMax = $("#planHDDMax");

    var bandMin = $("#planBandMin");
    var bandMax = $("#planBandMax");

    var ipv4Min = $("#planIPv4Min");
    var ipv4Max = $("#planIPv4Max");

    var ipv6Min = $("#planIPv6Min");
    var ipv6Max = $("#planIPv6Max");

    var costMin = $("#planCostMin");
    var costMax = $("#planCostMax");

    // Country
    if (country.val() != "ALL"){
      urlOptions["location__country"] = country.val();
    }

    // Provider
    if (provider.val() != "ALL"){
      urlOptions["offer__provider__pk"] = provider.val();
    }

    // Billing
    if (billing.val() != "ALL"){
      urlOptions["billing_time"] = billing.val();
    }

    // Memory
    if(memMin.val().length > 0){
      urlOptions["memory__gte"] = memMin.val();
    }

    if(memMax.val().length > 0){
      urlOptions["memory__lte"] = memMax.val();
    }

    // Disk space
    if(hddMin.val().length > 0){
      urlOptions["disk_space__gte"] = hddMin.val();
    }

    if(hddMax.val().length > 0){
      urlOptions["disk_space__lte"] = hddMax.val();
    }

    // Bandwidth
    if(bandMin.val().length > 0){
      urlOptions["bandwidth__gte"] = bandMin.val();
    }

    if(bandMax.val().length > 0){
      urlOptions["bandwidth__lte"] = bandMax.val();
    }

    // IPv4 Space
    if(ipv4Min.val().length > 0){
      urlOptions["ipv4_space__gte"] = ipv4Min.val();
    }

    if(ipv4Max.val().length > 0){
      urlOptions["ipv4_space__lte"] = ipv4Max.val();
    }

    // IPv6 Space
    if(ipv6Min.val().length > 0){
      urlOptions["ipv6_space__gte"] = ipv6Min.val();
    }

    if(ipv6Max.val().length > 0){
      urlOptions["ipv6_space__lte"] = ipv6Max.val();
    }

    // Cost
    if(costMin.val().length > 0){
      urlOptions["cost__gte"] = costMin.val();
    }

    if(costMax.val().length > 0){
      urlOptions["cost__lte"] = costMax.val();
    }

    var urlParameters = $.param(urlOptions);

    $("#plan_list").html('<h1>Loading ...</h1>');

    $.get(
      '/find/data/main/plan/?' + urlParameters,
       function(data) {
         var endpoint_data = $("#plan_list");
         endpoint_data.html("");

         for (var counter=0; counter < data["objects"].length; counter++){
           var plan = data["objects"][counter];
           endpoint_data.append(plan.html);
         }
       }
    );
  }

  $(document).ready(filterPlans);
</script>
{% endblock %}