{% load humanize %}

<div class="well">
  <div class="row">
    <div class="col-lg-4 col-md-6">
      {% with provider.get_large_profile_image as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-responsive img-thumbnail" />
      {% endwith %}
    </div>
    <div class="col-lg-8 col-md-6">
      <h1>{{ provider.name }}</h1>
      <br />
      <ul class="list-group">
        <li class="list-group-item">
          Their website is located at <a href="{{ provider.website }}">{{ provider.website }}</a>.
        </li>
        <li class="list-group-item">
          {{ provider.name }} opened their doors {{ provider.start_date|naturalday }}.
        </li>
        <li class="list-group-item">
          They have listed {{ provider.offer_count }} offer{{ provider.offer_count | pluralize }},
          {{ provider.active_offer_count }} of which {{ provider.active_offer_count | pluralize:"is,are" }} still active.
        </li>
        <li class="list-group-item">
          In total, they provide {{ provider.plan_count }} plan{{ provider.plan_count | pluralize }} across all their
          offers.
        </li>
        <li class="list-group-item">
          Their terms of service can be found at <a href="{{ provider.tos }}">{{ provider.tos }}</a>.
        </li>
      </ul>
    </div>
  </div>
</div>
