{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ provider.name }}{% endblock %}

{% block page_title %}{{ provider.name }} profile{% endblock %}

{% block content %}
  <div class="well">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <img src="{{ provider.get_image_url }}" class="img-responsive img-thumbnail">
      </div>
      <div class="col-lg-8 col-md-6">
        <h1>{{ provider.name }}</h1>
      </div>
    </div>

  </div>
  {% for offer in offers %}
    {% include 'offers/short_offer.html' with offer=offer %}
  {% endfor %}
  <ul class="pager">
    <li class="previous {% if not offers.has_next %}disabled{% endif %}">
      <a href="{% if offers.has_next %}{% url 'offer:provider_pagination' provider.pk offers.next_page_number %}{% endif %}">
        &larr; Older
      </a>
    </li>
    <li class="next {% if not offers.has_previous %}disabled{% endif %}">
      <a href="{% if offers.has_previous %}{% url 'offer:provider_pagination' provider.pk offers.previous_page_number %}{% endif %}">
        Newer &rarr;
      </a>
    </li>
  </ul>
{% endblock %}