<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a href="{% url 'offer:view' offer.pk %}">{{ offer.name }}</a>
      <a href="{% url 'offer:provider' offer.provider.pk %}"><small>{{ offer.provider.name }}</small></a>
    </h3>
  </div>
  <div class="panel-body">
    {{ offer.content|truncatewords_html:100|safe }}
  </div>
  <ul class="list-group">
    <li class="list-group-item">{{ offer.plan_count }} Plans listed</li>
    <li class="list-group-item">
      Price range ${{ offer.min_cost|floatformat:2 }} - ${{ offer.max_cost|floatformat:2 }}
    </li>
    <li class="list-group-item offer-time-since">
      Offer released {{ offer.created_at|timesince }} ago.
      <span class="pull-right">Last updated {{ offer.updated_at|timesince }} ago.</span>
    </li>
  </ul>
</div>