{% load humanize %}
<div class="panel panel-default {% if not offer.offer_active %}panel-warning{% endif %}">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a href="{% url 'offer:view' offer.pk %}">{{ offer.name }}</a>
      <a href="{% url 'offer:provider' offer.provider.pk %}"><small>{{ offer.provider.name }}</small></a>
    </h3>
  </div>
  <div class="panel-body">
    {{ offer.content|truncatewords_html:100|safe }}
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      {{ offer.plan_count }} Plan{{ offer.plan_count | pluralize }} listed
      ({{ offer.active_plan_count }} available)
    </li>
    <li class="list-group-item">
      Price range ${{ offer.min_cost|floatformat:2 }} - ${{ offer.max_cost|floatformat:2 }}
    </li>
    {% if not offer.offer_active %}
      <li class="list-group-item text-danger">
        Offer is no longer available!
      </li>
    {% endif %}
    <li class="list-group-item offer-time-since">
      Offer released {{ offer.published_at|naturaltime }}.
      <span class="pull-right">Last updated {{ offer.updated_at|naturaltime }}.</span>
    </li>
  </ul>
</div>