{% load humanize %}
<div class="panel panel-default {% if not offer.offer_active %}panel-warning{% endif %}">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a href="{{ offer.get_absolute_url }}">{{ offer.name }}</a>
      <a href="{{ offer.provider.get_absolute_url }}"><small>{{ offer.provider.name }}</small></a>
    </h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-10 col-sm-9">
        {{ offer.content|truncatewords_html:200|safe }}
      </div>
      <div class="col-lg-2 col-sm-3 text-center">
        <img src="{{ offer.provider.get_small_image_url }}" class="img-responsive img-thumbnail" />
      </div>
    </div>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      {{ offer.plan_count }} Plan{{ offer.plan_count | pluralize }} listed
      ({{ offer.active_plan_count }} available)
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-6">
          {% for min_max in offer.get_min_max_cost %}
            {% if min_max.same %}
              ${{ min_max.min | floatformat:2 }} ({{ min_max.name }})
            {% else %}
              ${{ min_max.min | floatformat:2 }} - ${{ min_max.max | floatformat:2 }} ({{ min_max.name }})
            {% endif %}

            {% if not forloop.last %}
            |
            {% endif %}
          {% endfor %}
        </div>
        <div class="col-xs-6 text-right">
          <span class="text-right">
          {% for location in offer.get_plan_locations %}
            <img src="{{ location.country.flag }}">
          {% endfor %}
        </span>
        </div>
      </div>
    </li>
    {% if not offer.offer_active %}
      <li class="list-group-item text-danger">
        Offer is no longer available!
      </li>
    {% endif %}
    <li class="list-group-item offer-time-since">
      <div class="row">
        <div class="col-md-4">
          Offer released {{ offer.published_at|naturaltime }}.
        </div>
        <div class="col-md-4 text-center">
          <a href="{{ offer.get_absolute_url }}#comments">{{ offer.comment_count }} Comment{{ offer.comment_count | pluralize }}</a>
        </div>
        <div class="col-md-4 text-right">
          Last updated {{ offer.updated_at|naturaltime }}.
        </div>
      </div>
    </li>
  </ul>
</div>