{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ offer.name }}{% endblock %}

{% block page_title %}
  {{ offer.name }}
  <a href="{% url 'offer:provider' offer.provider.pk %}"><small>{{ offer.provider.name }}</small></a>
{% endblock %}

{% block content %}
  {{ offer.content | safe }}
  <hr>
  <h2>Plans on offer:</h2>
  {% include 'offers/plan_set.html' with plan_set=offer.plan_set.all %}
  <hr>
  <a name="comments"></a>
  <h2>Comments:</h2>
  {% include 'offers/comments.html' with comments=offer.get_comments %}
  {% if request.user.is_authenticated %}
    <h3>Add a comment</h3>
    {% crispy form %}
  {% endif %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  {% if not is_test %}
  $(document).ready(function(){
    CKEDITOR.replace("comment", {
      toolbar: [
        { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Strike', '-', 'RemoveFormat' ] },
        { name: 'clipboard', items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
        { name: 'editing', groups: [ 'find', 'selection', 'spellchecker' ], items: [ 'Scayt' ] },
        { name: 'insert', items: [ 'SpecialChar' ] },
        { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent' ] }
      ]
  });
  });
  {% endif %}
</script>
{% endblock %}
