{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load following_helpers %}
{% load url_helpers %}

{% block title %}{{ offer.name }}{% endblock %}

{% block page_title %}
  {{ offer.name }}
  <a href="{{ offer.provider.get_absolute_url }}"><small>{{ offer.provider.name }}</small></a>
  <p class="pull-right">{% following request offer %}</p>
{% endblock %}

{% block content %}
  {{ offer.html_content | safe }}
  <br />
  <p>
    <strong>Terms of service: </strong><a href="{{ offer.provider.tos }}">{{ offer.provider.tos }}</a>
    <br>
    <strong>Acceptable usage policy: </strong><a href="{{ offer.provider.aup }}">{{ offer.provider.aup }}</a>
    {% if offer.provider.sla %}
      <br>
      <strong>Service level agreement: </strong><a href="{{ offer.provider.sla }}">{{ offer.provider.sla }}</a>
    {% endif %}
    {% if offer.provider.billing_agreement %}
      <br>
      <strong>Billing agreement: </strong><a href="{{ offer.provider.billing_agreement }}">{{ offer.provider.billing_agreement }}</a>
    {% endif %}
  </p>
  <hr>
  <h2>Plans on offer:</h2>
  {% include 'offers/plan_set.html' with plan_set=offer.plan_set.all %}
  <h3>Locations:</h3>
  {% for location in offer.get_plan_locations %}
    {% include 'offers/location_detail.html' with location=location %}
  {% endfor %}
  <hr>
  {% block comments_section %}
    <a name="comments"></a>
    <h2>Comments:</h2>
    {% include 'offers/comments.html' with comments=offer.get_comments %}
    {% if request.user.is_authenticated %}
      <a name="new-comment"></a>
      <h3>Add a comment</h3>
      {% crispy form %}
    {% endif %}
  {% endblock %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  $(document).ready(function(){
    CKEDITOR.replace("comment", {
      toolbar: [
        { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Strike', '-', 'RemoveFormat' ] },
        { name: 'clipboard', items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
        { name: 'editing', groups: [ 'find', 'selection', 'spellchecker' ], items: [ 'Scayt' ] },
        { name: 'insert', items: [ 'SpecialChar' ] },
        { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote' ] },
        { name: 'styles', items: [ 'Format' ] }
      ],
      format_tags: "p;Code",
      format_Code: {name:'Code Block', element: 'pre'},
      contentsCss: [CKEDITOR.basePath + 'contents.css', '{% static 'bootstrap/css/bootstrap.min.css' %}', '{% static 'offers/css/editor_custom.css' %}'],
      extraPlugins: 'bbcode'
  });
  });

  function setReply(data){
    $("#id_reply_to").val(data["comment_id"]);
    $("#comment_reply_to").html('<div class="well">' +
            '<h5>Replying to comment by ' + data["commenter"] + ': </h5>' +
            data["content"] +
            '<br><br>' +
            '<a href="#new-comment" class="btn btn-danger" onclick="cancelReply()">Cancel Reply</a>' +
            '</div>');
  }
  function cancelReply(){
    $("#id_reply_to").val(-1);
    $("#comment_reply_to").html("")
  }
</script>
<script src="{% static 'offers/js/comment_like.min.js' %}"></script>
{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'offers/css/comment_style.css' %}">
  <link rel="stylesheet" href="{% static 'offers/markdown/css/markdown.css' %}">
  {# Meta data #}
  <meta property="og:title" content="{{ offer.provider.name }} offer - {{ site_verbose_name }}" />
  <meta property="og:type" content="article"/>
  {% if offer.provider.logo %}
    <meta property="og:image" content="{% make_absolute_url offer.provider.logo.url %}"/>
  {% endif %}
  <meta property="og:description" content="{{ offer.name }}"/>
  <meta property="og:url" content="{% make_absolute_url offer.get_absolute_url %}"/>
  <meta property="og:updated_time" content="{{ offer.updated_at | date:"U" }}" />
  <link rel="canonical" href="{% make_absolute_url offer.get_absolute_url %}"/>
{% endblock %}