{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}Edit Request{% endblock %}

{% block page_title %}Edit an offer request{% endblock %}

{% block content %}
  <form action="{% url 'offer:admin_request_edit' offer_request.pk %}" method="POST">
    {% crispy form %}
    {{ formset.management_form|crispy }}
    <div class="row">
      {% for form in formset %}
          <div class="col-md-6">
            <div class="well">
              {% crispy form helper %}
            </div>
          </div>
      {% endfor %}
    </div>
    <div class="form-actions">
      <input type="submit" name="submit" value="Save" class="btn btn-primary" id="submit-save">
    </div>
  </form>
{% endblock %}


{% block extra_js %}
  {% include 'offers/manage/textarea_wysiwyg.html' with editor_name='content' %}
{% endblock %}