{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %}Edit Request{% endblock %}

{% block page_title %}
  Edit an offer request
  <a href="#" class="btn btn-info" onclick="preview_request('{% url "offer:admin_request_preview" offer.pk %}')">Preview</a>
{% endblock %}

{% block content %}
  <form action="{% url 'offer:admin_request_edit' offer.pk %}" method="POST">
    {% crispy form %}
    {{ formset.management_form|crispy }}
    <div class="row">
      {% for form in formset %}
          <div class="col-md-6">
            <div class="well">
              {% crispy form helper %}
            </div>
          </div>
      {% endfor %}
    </div>
    <pre>More plan forms will be available after saving.</pre>
    <div class="form-actions">
      <input type="submit" name="submit" value="Save" class="btn btn-primary" id="submit-save">
    </div>
  </form>
{% endblock %}


{% block extra_js %}
  {% include 'offers/manage/textarea_wysiwyg.html' with editor_name='content' %}
  <script src="{% static 'offers/js/preview_request.min.js' %}"></script>
{% endblock %}