{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}Edit Location{% endblock %}

{% block page_title %}Edit Location <em>{{ location.location }}</em>{% endblock %}

{% block content %}
  <a href="#" class="btn btn-info">
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back to location list
  </a>
  <form action="{% url 'offer:admin_location_edit' location.pk %}" method="POST" name="location-form">
    <div class="well" style="margin-top: 20px;">
      {% crispy form %}
    </div>
    <h2>Test IP Addresses</h2>
    {% crispy ip_formset %}
    <h2>Test Downloads</h2>
    {% crispy download_formset %}
    <div class="form-actions">
      <input type="submit" name="submit" value="Save" class="btn btn-primary" id="submit-save">
    </div>
  </form>
{% endblock %}