{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit offer{% endblock %}

{% block page_title %}
  Edit <em>{{ offer.name }}</em>
  <small>{{ offer.get_status_display }}</small>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <div class="btn-group btn-group-justified">
        {% if offer.is_active %}
          <a href="{% url 'offer:admin_offer_mark' offer.pk %}" class="btn btn-danger">Mark as not active</a>
        {% else %}
          <a href="{% url 'offer:admin_offer_mark' offer.pk %}" class="btn btn-success">Mark as active</a>
        {% endif %}
      </div>
    </div>
  </div>
  <br />
  <table class="table table-bordered">
    <tr>
      <th>Memory (RAM)</th>
      <th>Disk space (HDD)</th>
      <th>Status</th>
      <th>Mark</th>
    </tr>
    {% for plan in plans %}
    <tr>
      <td>{{ plan.get_memory }}</td>
      <td>{{ plan.get_hdd }}</td>
      <td>
        {% if plan.is_active %}
          <span class="text-success">Active</span>
        {% else %}
          <span class="text-warning">Not Active</span>
        {% endif %}
      </td>
      <td>
        {% if plan.is_active %}
          <a href="{% url 'offer:admin_offer_plan_mark' offer.pk plan.pk %}" class="btn btn-warning">Mark as "Not active"</a>
        {% else %}
          <a href="{% url 'offer:admin_offer_plan_mark' offer.pk plan.pk %}" class="btn btn-success">Mark as "Active"</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}