{% extends 'base.html' %}
{% load humanize %}

{% block title %}Requests{% endblock %}

{% block page_title %}Current offer requests{% endblock %}

{% block content %}
  <table class="table table-bordered">
    <tr>
      <th>Name</th>
      <th>Plans</th>
      <th>Submitted on</th>
      <th>Submitted by</th>
      <th>Queue Position</th>
      <th>Manage</th>
    </tr>
    {% for offer in requests %}
      <tr>
        <td>{{ offer.name }}</td>
        <td>{{ offer.plan_count }}</td>
        <td>
          {{ offer.created_at }}
          <span class="pull-right text-success">{{ offer.created_at | naturaltime }}</span>
        </td>
        <td>{{ offer.creator.username }}</td>
        <td>
          {% if offer.is_ready %}
            {{ offer.queue_position }}
          {% else %}
            N/A
          {% endif %}
        </td>
        <td>
          <div class="btn-group">
            <a href="{% url 'offer:admin_request_edit' offer.pk %}" class="btn btn-info">Edit request</a>
            {% if offer.is_ready %}
              <a href="{% url 'offer:admin_request_mark' offer.pk %}" class="btn btn-warning">Mark not ready</a>
            {% else %}
              <a href="{% url 'offer:admin_request_mark' offer.pk %}" class="btn btn-success">Mark ready</a>
            {% endif %}
            <a href="{% url 'offer:admin_request_delete' offer.pk %}" class="btn btn-danger">Delete request</a>
          </div>
        </td>
      </tr>
    {% endfor %}
  </table>
  <strong>Note:</strong> The offer queue is based on when the offer request was submitted and not when it was marked as
  ready. This is done to prevent abuse of the ready function where an incomplete offer would hold it's queue position
  by marking itself as complete.
{% endblock %}