{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block title %}Requests{% endblock %}

{% block page_title %}Current offer requests{% endblock %}

{% block content %}
  <table class="table table-bordered">
    <tr>
      <th class="col-sm-4">Name</th>
      <th>Plans</th>
      <th class="col-sm-2">Submitted on</th>
      <th>Submitted by</th>
      <th class="col-sm-1">Queue Position</th>
      <th>Manage</th>
    </tr>
    {% for offer in requests %}
      <tr>
        <td><a href="#" onclick="preview_request('{% url 'offer:admin_request_preview' offer.pk %}')">{{ offer.name }}</a></td>
        <td>{{ offer.plan_count }}</td>
        <td class="text-center">
          {{ offer.created_at }}<br>
          <span class="text-success">{{ offer.created_at | naturaltime }}</span>
        </td>
        <td>{{ offer.creator.username }}</td>
        <td>
          {% if offer.is_ready %}
            {{ offer.queue_position }}
          {% else %}
            N/A
          {% endif %}
        </td>
        <td class="text-center">
          <div class="btn-group-vertical">
            <a href="{% url 'offer:admin_request_edit' offer.pk %}" class="btn btn-info">Edit request</a>
            {% if offer.is_ready %}
              <a href="{% url 'offer:admin_request_mark' offer.pk %}" class="btn btn-warning">Mark not ready</a>
            {% else %}
              <a href="{% url 'offer:admin_request_mark' offer.pk %}" class="btn btn-success">Mark ready</a>
            {% endif %}
            <a href="{% url 'offer:admin_request_delete' offer.pk %}" class="btn btn-danger">Delete request</a>
          </div>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'offers/js/preview_request.min.js' %}"></script>
{% endblock %}