{% extends 'base.html' %}

{% block title %}Delete Update Request{% endblock %}

{% block page_title %}Delete update request{% endblock %}

{% block content %}
  <div class="alert alert-danger">
    This is permanent. Deleting an offer update can not be undone!
  </div>
  <h2>Will delete offer update request <em>{{ offer_update.name }}</em>!</h2>

  {% if offer_update.planupdate_set.all %}
    <h3>The following plan updates will be deleted:</h3>
    {% for plan in offer_update.planupdate_set.all %}
      <li><strong>Plan #{{ forloop.counter }}</strong> - {{ plan.get_memory }} Memory</li>
    {% endfor %}
  {% endif %}
  <div class="btn-group btn-group-justified">
    <a href="{% url 'offer:admin_offer_update_delete' offer_update.for_offer.pk %}?delete=True" class="btn btn-danger">
      Delete offer update request
    </a>
  </div>
  <br>
  <a href="{% url 'offer:admin_offer' offer_update.for_offer.pk  %}" class="btn btn-info">
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back to edit page
  </a>
{% endblock %}
