database.sqlite
resources/media/provider_logos
htmlcov
reports
ghostdriver.log
local_settings.py
celerybeat-schedule
djcelery.schedulers.DatabaseScheduler

### Python ###
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
dump.rdb

# Sphinx
docs/_build/*

# Images
resources/media/no_logo_*
