.provider-plans {
    tr {
        td:first-child {
            font-weight: bold;
        }
    }
    border-bottom: solid 1px #ddd;
}

div {
    .offer-time-since {
        font-weight: bold;
    }
}

.media-comment-main {
    border-bottom: solid 1px #ddd;

    .reply-link {
        margin-left: 10px;
        font-size: 15px;
    }
}