.provider-plans {
  border-bottom: solid 1px #ddd; }
  .provider-plans tr td:first-child {
    font-weight: bold; }

div .offer-time-since {
  font-weight: bold; }

.media-comment-main {
  border-bottom: solid 1px #ddd;
  padding-bottom: 10px; }
  .media-comment-main .reply-link {
    margin-left: 10px;
    font-size: 15px; }

.provider-listing tr td:first-child {
  font-weight: bold; }
.provider-listing tr:first-child td {
  border-top: none; }
