{% load gravatar %}
{% load humanize %}
<div class="well">
  <div class="row">
    <div class="col-sm-4">
      <img class="img-thumbnail img-responsive" src="{% gravatar_url user.email 512 %}" alt="{{ user.username }} email">
    </div>
    <div class="col-sm-8">
      <h1>{{ user.first_name }} {{ user.last_name }}</h1>
      <p>{{ reference }} last logged in {{ user.last_login |naturaltime }}.</p>
      <p>{{ reference }} registered {{ user.date_joined |naturaltime }}, on {{ user.date_joined }}</p>
    </div>
  </div>
</div>