{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}Offer Updates{% endblock %}

{% block page_title %}Offer Updates{% endblock %}

{% block content %}
  {% for offer_update in offer_updates %}
    <div class="well">
      <h1 class="page-header">
        {{ offer_update.name }}
        <small>
          {% if offer_update.ready %}
            Ready
          {% else %}
            Not Ready
          {% endif %}
        </small>
      </h1>
      <a href="?update={{ offer_update.pk }}" class="btn btn-success">Update</a>
    </div>
    {{ offer_update.content | safe }}
    <h2>Plans on offer:</h2>
    {% include 'offers/plan_set.html' with plan_set=offer_update.planupdate_set.all %}
  {% endfor %}
{% endblock %}