{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load gravatar %}
{% load static %}

{% block title %}My Comments{% endblock %}

{% block page_title %}My Comments{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-3">
      {% include 'accounts/account_actions.html' with comments_active=True %}
    </div>
    <div class="col-md-9">
      {% include 'offers/comments.html' with comments=comments is_profile=True %}
    </div>
  </div>
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'offers/css/comment_style.css' %}">
{% endblock %}

