{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load gravatar %}

{% block title %}My Profile{% endblock %}

{% block page_title %}My Profile{% endblock %}

{% block content %}
  <div class="well">
    <div class="row">
      <div class="col-sm-4">
        <img class="img-thumbnail img-responsive" src="{% gravatar_url user.email 512 %}" alt="{{ user.username }} email">
      </div>
      <div class="col-sm-8">
        <h1>{{ user.first_name }} {{ user.last_name }}</h1>
        <p>You last logged in {{ user.last_login |timesince }} ago.</p>
        <p>You registered {{ user.date_joined |timesince }} ago, on {{ user.date_joined }}</p>
      </div>
    </div>
  </div>
  <h2>Actions</h2>
  {% include 'accounts/account_actions.html' with long=True %}
{% endblock %}