{% load static %}
{% load navigation_helpers %}
{% load piwik_helper %}
{% load flatpages %}
{% get_flatpages as flatpages %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - {{ site_verbose_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'datepicker/css/datepicker.css' %}" rel="stylesheet">
    <link href="{% static 'fa/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet" media="screen">
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <div class="container" style="margin-top: 20px">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">{{ site_verbose_name }}</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            {% navigation_link request 'home' 'Home' %}
            {% navigation_link request 'offer:providers' 'Providers' %}
            {% navigation_link request 'find_a_plan' 'Find a plan' %}
            {% if request.user.is_authenticated %}
              {% if request.user.user_profile.is_provider %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{ request.user.user_profile.provider }}
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'offer:admin_home' %}">
                      <i class="fa fa-briefcase"></i>
                      Provider profile
                    </a></li>
                    <li><a href="{% url 'offer:admin_offers' %}">
                      <i class="fa fa-tags text-success"></i>
                      Current offers
                    </a></li>
                    <li><a href="{% url 'offer:admin_requests' %}">
                      <i class="fa fa-tags text-warning"></i>
                      Current offer requests
                    </a></li>
                    <li><a href="{% url 'offer:admin_request_new' %}">
                      <i class="fa fa-plus"></i>
                      New offer request
                    </a></li>
                    <li><a href="{% url 'offer:admin_locations' %}">
                      <i class="fa fa-globe"></i>
                      Provider Locations
                    </a></li>
                  </ul>
                </li>
              {% endif %}
            {% endif %}
            {% for page in flatpages %}
              {% navigation_link request page.url page.flatpagenavbar.navbar_name reverse_url=False %}
            {% endfor %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'self_profile' %}">My Profile</a></li>
                  <li><a href="{% url 'edit_account' %}">Edit Account</a></li>
                  {% if request.user.is_staff %}
                    <li><a href="{% url 'admin:index' %}">Site Administration</a></li>
                  {% endif %}
                  <li><a href="{% url 'change_password' %}">Change Password</a></li>
                  <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
              </li>
            {% else %}
              <li><a href="{% url 'register' %}">Register</a></li>
              <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>

      {% if messages %}
          {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }} {% if message.tags == 'error' %}alert-danger{% endif %}{% endif %}">
              {{ message }}
            </div>
          {% endfor %}
      {% endif %}

      <h1 class="page-header">{% block page_title %}{% endblock %}</h1>
      {% block content %}
        No page content
      {% endblock %}

      <hr>
      <div class="row" style="font-weight: bold">
        <div class="col-md-4">
          Running the open offers system, <a href="https://github.com/OfferTeam/OfferListing">OfferListing</a>
        </div>
        <div class="col-md-4 text-center">
          <a class="tooltipify" title="RSS v2 Feed" href="{% url 'offer:rss' %}">RSS</a>
          /
          <a class="tooltipify" title="Atom Feed" href="{% url 'offer:atom' %}">Atom</a>
        </div>
        <div class="col-md-4 text-right">
          {% if footer_extra %}
            {{ footer_extra | safe }}
          {% endif %}
        </div>
      </div>
      <br /><br />

      <script src="{% static 'jquery/jquery.min.js' %}"></script>
      <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'ckeditor/ckeditor.js' %}"></script>
      <script src="{% static 'datepicker/js/bootstrap-datepicker.js' %}"></script>
      <script>
        $(".tooltipify").tooltip();
      </script>
      {% block extra_js %}{% endblock %}
    </div>
    {% load_piwik_tracking %}
  </body>
</html>